MYSQLHOST=
MYSQLPORT=
MYSQLUSER=
MYSQLPASSWORD=
MYSQLDATABASE=
SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_JWKS_URL=
SUPABASE_JWT_SECRET=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_ANON_KEY=
SUPABASE_DB_HOST=
SUPABASE_DB_PORT=
SUPABASE_DB_USER=
SUPABASE_DB_PASSWORD=
SUPABASE_DB_NAME=
SUPABASE_STORAGE_BUCKET=